<html>
  <head>
    <title>Eingabe der Lösung</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
    <link rel="shortcut icon" href="https://www.flyer-experten.com/images/favicon.jpg">
    <style type="text/css">
      #solutionForm .question-group {
        padding-bottom: 8px;
      }
      #solutionForm input[type=radio].form-control {
        width: 20px;
        height: 20px;
        display: inline;
      }
      #solutionForm .radio-label {
        vertical-align: top;
      }
      #solutionForm .control-label.answer {
        text-align: left;
      }
      #solutionForm table {
      <% if (data.campaign && data.campaign.layout && data.campaign.layout.font) { %>
        font: <%- data.campaign.layout.font %>;
      <% } else { %>
        font: 14px "Myriad Pro", "Lucida Grande", Helvetica, Arial, sans-serif;
      <% } %>
      }

      /* sm */
      @media (min-width: 768px) {
        body {
          width: 800px;
        <% if (data.campaign && data.campaign.layout && data.campaign.layout.height) { %>
          height: <%= data.campaign.layout.height %>;
        <% } else { %>
          height: 1300px;
        <% } %>
          background: url('https://www.flyer-experten.com/campaigns/<%= data.campaigntoken %>/desktop.png') no-repeat;
        <% if (data.campaign && data.campaign.layout && data.campaign.layout.font) { %>
          font: <%- data.campaign.layout.font %>;
        <% } else { %>
          font: 14px "Myriad Pro", "Lucida Grande", Helvetica, Arial, sans-serif;
        <% } %>
        }

        .container {
        <% if (data.campaign && data.campaign.layout && data.campaign.layout.formWidth) { %>
          width: <%= data.campaign.layout.formWidth %>;
        <% } else { %>
          width: 525px;
        <% } %>
        <% if (data.campaign && data.campaign.layout && data.campaign.layout.formPositionTop) { %>
          margin-top: <%= data.campaign.layout.formPositionTop %>;
        <% } else { %>
          margin-top: 100px;
        <% } %>
        <% if (data.campaign && data.campaign.layout && data.campaign.layout.formPositionLeft) { %>
          margin-left: <%= data.campaign.layout.formPositionLeft %>;
        <% } else { %>
          margin-left: 290px;
        <% } %>
        }

        .form-horizontal {
          background-color: #fff;
          padding-bottom: 1px;
        }

        .form-horizontal .form-group {
          margin-right: 0;
          margin-left: 0;
        }

        .solution-success {
          color: #fff;
          font-size: 20px;
        }
        .img-responsive {
          display: none;
        }
      }

      /* xs */
      @media (max-width: 767px) {
        .img-responsive {
          display: block;
        }
        #solutionForm .radio-label {
          margin-top: 4px;
        }
      }

      /* XS Portrait */
      @media (max-width: 479px) {
        .img-responsive {
          display: block;
        }
        #solutionForm .radio-label {
          margin-top: 4px;
        }
      }
    </style>
  </head>
  <body>
    <noscript>
      <h1 style="background-color: #fff; height: 100%">Sie müssen JavaScript in Ihrem Browser aktivieren, um an dem Gewinnspiel teilnehmen zu können.</h1>
    </noscript>

    <img class="img-responsive center-block" src="https://www.flyer-experten.com/campaigns/<%= data.campaigntoken %>/mobile.png">

    <div class="container">
      <form id="solutionForm"
            name="solutionForm"
            class="form-horizontal">
        <input type="hidden" name="campaigntoken" value="<%= data.campaigntoken %>">
        <input type="hidden" name="solution" value="">
        <div id="solutionMessages" class="form-group"></div>
        <div class="form-group">
          <% if (data.campaign && data.campaign.questions) {
             let idx = 0;
             for (let question of data.campaign.questions) {%>
          <div class="question-group col-md-12">
            <label class="col-md-6 control-label question"><%= question.title %></label>
            <div class="col-md-6">
              <table>
                <% for (let answer of question.answers) { %>
                <tr>
                  <td><input type="radio" name="question-<%= idx %>" class="form-control" value="<%= answer %>"></td>
                  <td style="padding-left: 10px">
                    <label class="radio-label control-label answer"><%= answer %></label>
                  </td>
                </tr>
                <% }
                  idx += 1;
                %>
              </table>
            </div>
          </div>
          <% }} %>
        </div>
        <div class="form-group">
          <label for="firstname" class="col-sm-6 control-label">Vorname</label>
          <div class="col-sm-6">
            <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Vorname eingeben" maxlength="100" value="<%= data.firstname %>">
          </div>
        </div>
        <div class="form-group">
          <label for="lastname" class="col-sm-6 control-label">Nachname</label>
          <div class="col-sm-6">
            <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Nachname eingeben" maxlength="100" value="<%= data.lastname %>">
          </div>
        </div>
        <div class="form-group">
          <label for="street" class="col-sm-6 control-label">Straße</label>
          <div class="col-sm-6">
            <input type="text" id="street" name="street" class="form-control" placeholder="Straße eingeben" maxlength="100" value="<%= data.street %>">
          </div>
        </div>
        <div class="form-group">
          <label for="postcode" class="col-sm-6 control-label">Postleitzahl</label>
          <div class="col-sm-6">
            <input type="text" id="postcode" name="postcode" class="form-control" placeholder="Postleitzahl eingeben" maxlength="5" value="<%= data.postcode %>">
          </div>
        </div>
        <div class="form-group">
          <label for="city" class="col-sm-6 control-label">Ort</label>
          <div class="col-sm-6">
            <input type="text" id="city" name="city" class="form-control" placeholder="Ort eingeben" maxlength="100" value="<%= data.city %>">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-6 control-label">E-Mail Adresse</label>
          <div class="col-sm-6">
            <input type="email" id="email" name="email" class="form-control" placeholder="E-Mail Adresse eingeben" maxlength="100" value="<%= data.email %>">
          </div>
        </div>
        <div class="form-group">
          <label for="fullAgeParentalConsent" class="col-sm-6 control-label">Ich bin bereits 18 Jahre alt oder habe die Zustimmung meiner Eltern, an dem Preisausschreiben teilzunehmen.</label>
          <div class="col-sm-1">
              <input type="checkbox" id="fullAgeParentalConsent" name="fullAgeParentalConsent" class="form-control" style="width: 20px" value="fullAgeParentalConsent">
          </div>
        </div>
        <div class="form-group">
          <label for="acceptTermsAndConditions" class="col-sm-6 control-label">Ich akzeptiere die <a href="https://www.flyer-experten.com/teilnahmebedingungen.html" target="_blank">Teilnahmebedingungen</a></label>
          <div class="col-sm-1">
            <input type="checkbox" id="acceptTermsAndConditions" name="acceptTermsAndConditions" class="form-control" style="width: 20px" value="acceptTermsAndConditions">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 text-center">
            <button id="solutionSubmit" type="button" class="btn btn-primary">Lösung einsenden</button>
          </div>
        </div>
      </form>
      <div id="solutionSuccess" class="solution-success" style="display: none;">
        Wir haben Ihre Daten erhalten und wünschen Ihnen viel Erfolg und Glück.
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      function getSolution() {
        let idx = 0;
        let arr = [];
        while (true) {
          const val = $('input[name=question-' + idx + ']:checked').val();
          if (val !== undefined) {
            arr.push(val);
            idx += 1;
          }
          else break;
        };
        return arr.join(' ');
      }
      $('#solutionSubmit').on('click', function(event) {
        $('input[name=solution]').val(getSolution());
        const serializedData = $('#solutionForm').serialize();
        $.post("/solvepuzzle", serializedData, function(data) {
          if (data.errors) {
            let errorMessage = '<ul>';
            data.errors.forEach(function(err) {
              errorMessage += '<li>' + err + '</li>';
            });
            errorMessage += '</ul>';
            $('#solutionMessages').show().html(errorMessage);
          } else {
            $('#solutionMessages').hide().html('');
            $('#solutionForm').hide();
            $('#solutionSuccess').show();
          }
        }, "json");
      });
    </script>

  </body>
</html>