<mailsubject>
  Anfrage für kostenloses Werbekonzept
</mailsubject>

<mailbody>
<html>
  <head></head>
  <body>
    <p>Die folgende Anfrage für ein kostenloses Werbekonzept ist eingegangen:</p>
    <div>
      Anfrage als: <%= data.conceptionAs %><br>
      <% if (data.conceptionAs === 'private') { %>
      Name: <%= data.firstname %> <%= data.lastname %><br>
      <% } else { %>
      Unternehmen: <%= data.companyName %><br>
      Kontakt: <%= data.personContact %><br>
      <% } %>
      Adresse: <%= data.street %>, <%= data.postcode %> <%= data.city %><br>
      Telefon: <%= data.phone %><br>
      Mobil: <%= data.mobile %><br>
      E-Mail: <%= data.email %><br>
      Website: <%= data.website %><br>
      Branche: <%= data.industry %><br>
      Mitbewerber: <%= data.competitor %><br>
      Werbeaktion für: <%= data.advertise %><br>
      Budget: <%= data.budget %><br>
      Datum der Werbeaktion: <%= data.advertisingStartDate %><br>
      Bisherige Werbeaktionen:<br>
      <pre><%= data.advertisingInfos %></pre>
      Informationen/Wünsche:<br>
      <pre><%= data.infos %></pre>
      Kontaktaufnahme über: <%= data.contactMeByPhone ? 'Telefon' : '' %> <%= data.contactMeByMobile ? 'Mobil' : ''%> <%= data.contactMeByEmail ? 'E-Mail' : ''%><br>
      Kontaktaufnahme am: <%= data.contactDateTime %><br>
      Wie haben Sie von FE gehört: <%= data.channel %><br>
      Weitere Informationen erwünscht: <%= data.wantNews %>
    </div>
  </body>
</html>
</mailbody>

<mailplain>
  Anfrage als: <%= data.conceptionAs %>
  <% if (data.conceptionAs === 'private') { %>
  Name: <%= data.firstname %> <%= data.lastname %>
  <% } else { %>
  Unternehmen: <%= data.companyName %>
  Kontakt: <%= data.personContact %>
  <% } %>
  Adresse: <%= data.street %>, <%= data.postcode %> <%= data.city %>
  Telefon: <%= data.phone %>
  Mobil: <%= data.mobile %>
  E-Mail: <%= data.email %>
  Website: <%= data.website %>
  Branche: <%= data.industry %>
  Mitbewerber: <%= data.competitor %>
  Werbeaktion für: <%= data.advertise %>
  Budget: <%= data.budget %>
  Datum der Werbeaktion: <%= data.advertisingStartDate %>
  Bisherige Werbeaktionen:
  <%= data.advertisingInfos %>
  Informationen/Wünsche:
  <%= data.infos %>
  Kontaktaufnahme über: <%= data.contactMeByPhone ? 'Telefon' : '' %> <%= data.contactMeByMobile ? 'Mobil' : ''%> <%= data.contactMeByEmail ? 'E-Mail' : ''%>
  Kontaktaufnahme am: <%= data.contactDateTime %>
  Wie haben Sie von FE gehört: <%= data.channel %>
  Weitere Informationen erwünscht: <%= data.wantNews %>
</mailplain>