<mailsubject>
Kontaktanfrage
</mailsubject>

<mailbody>
<html>
  <head></head>
  <body>
    <p>Die folgende Kontaktanfrage ist soeben eingegangen:</p>
    <div>
      Name: <%= contactname %><br>
      E-Mail: <%= contactemail %><br>
      Betreff: <%= contactsubject %><br>
      Nachricht:<br>
      <pre><%= contactmessage %></pre>
    </div>
  </body>
</html>
</mailbody>

<mailplain>
Die folgende Kontaktanfrage ist soeben eingegangen:
Name: <%= contactname %>
E-Mail: <%= contactemail %>
Betreff: <%= contactsubject %>
Nachricht:
  <%= contactmessage %>
</mailplain>