<mailsubject>
Bewerbung als Flyer-Austräger
</mailsubject>

<mailbody>
<html>
  <head></head>
  <body>
    <p>Die folgende Bewerbung ist eingegangen:</p>
    <div>
      Vorname: <%= data.firstname %><br>
      Nachname: <%= data.lastname %><br>
      Geburtsdatum: <%= data.birthdate %><br>
      Festnetz: <%= data.phone %><br>
      Mobil: <%= data.mobile %><br>
      E-Mail: <%= data.email %><br>
      Adresse: <%= data.street %>, <%= data.postcode %> <%= data.city %><br>
      Geschlecht: <%= data.gender %><br>
      Führerscheinklasse B: <%= data.driverlicence ? "Ja" : "Nein" %><br>
      PKW: <%= data.caravailable ? 'Ja' : 'Nein' %><br>
      Verfügbar: <%= data.available %><% if (data.available === 'zeitweise') { %>, vom <%= data.availablefrom %> bis <%= data.availableto %> <% } %><br>
      Gewerbeschein: <%= data.tradelicenceavailable ? 'Ja' : 'Nein'  %><br>
      PLZ-Gebiet: <%= data.postcoderegion %><br>
      Bewerbung:
      <pre>
        <%= data.text %>
      </pre>
    </div>
  </body>
</html>
</mailbody>

<mailplain>
Die folgende Kontaktanfrage ist eingegangen:
Vorname: <%= data.firstname %>
Nachname: <%= data.lastname %>
Geburtsdatum: <%= data.birthdate %>
Festnetz: <%= data.phone %>
Mobil: <%= data.mobile %>
E-Mail: <%= data.email %>
Adresse: <%= data.street %>, <%= data.postcode %> <%= data.city %>
Geschlecht: <%= data.gender %>
Führerscheinklasse B: <%= data.driverlicence ? 'Ja' : 'Nein' %>
PKW: <%= data.caravailable ? 'Ja' : 'Nein' %>
Verfügbar: <%= data.available %><% if (data.available === 'zeitweise') { %>, vom <%= data.availablefrom %> bis <%= data.availableto %> <% } %>
Gewerbeschein: <%= data.tradelicenceavailable ? 'Ja' : 'Nein'  %>
PLZ-Gebiet: <%= data.postcoderegion %>
Bewerbung:
  <%= data.text %>
</mailplain>