<mailsubject>
Ihre Bewerbung als Flyer-Austräger
</mailsubject>

<mailbody>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FLYER-EXPERTEN Email</title>
    <!-- Designed by https://github.com/kaytcat -->
    <style type="text/css">
      /* Take care of image borders and formatting */
      img { max-width: 600px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;}
      a img { border: none; }
      table { border-collapse: collapse !important; }
      #outlook a { padding:0; }
      .ReadMsgBody { width: 100%; }
      .ExternalClass {width:100%;}
      .backgroundTable {margin:0 auto; padding:0; width:100% !important;}
      table td {border-collapse: collapse;}
      .ExternalClass * {line-height: 115%;}

      /* General styling */
      td {
        font-family: Arial, sans-serif;
      }
      body {
        -webkit-font-smoothing:antialiased;
        -webkit-text-size-adjust:none;
        width: 100%;
        height: 100%;
        color: #6f6f6f;
        font-weight: 400;
        font-size: 18px;
      }
      h1 {
        margin: 10px 0;
      }
      a {
        color: #27aa90;
        text-decoration: none;
      }
      .force-full-width {
        width: 100% !important;
      }
      .body-padding {
        padding: 0 75px;
      }
      .force-width-80 {
        width: 80% !important;
      }
    </style>

    <style type="text/css" media="screen">
      @media screen {
      @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900);
        * {
          font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
        }
        .w280 {
          width: 280px !important;
        }
      }
    </style>

    <style type="text/css" media="only screen and (max-width: 480px)">
      /* Mobile styles */
      @media only screen and (max-width: 480px) {
        table[class*="w320"] {
          width: 320px !important;
        }
        td[class*="w320"] {
          width: 280px !important;
          padding-left: 20px !important;
          padding-right: 20px !important;
        }
        img[class*="w320"] {
          width: 250px !important;
          height: 67px !important;
        }
        td[class*="mobile-spacing"] {
          padding-top: 10px !important;
          padding-bottom: 10px !important;
        }
        *[class*="mobile-hide"] {
          display: none !important;
        }
        *[class*="mobile-br"] {
          font-size: 12px !important;
        }
        td[class*="mobile-w20"] {
          width: 20px !important;
        }
        img[class*="mobile-w20"] {
          width: 20px !important;
        }
        td[class*="mobile-center"] {
          text-align: center !important;
        }
        table[class*="w100p"] {
          width: 100% !important;
        }
        td[class*="activate-now"] {
          padding-right: 0 !important;
          padding-top: 20px !important;
        }
        td[class*="mobile-resize"] {
          font-size: 22px !important;
          padding-left: 15px !important;
        }
      }
    </style>
  </head>
  <body offset="0" class="body" style="padding:0; margin:0; display:block; background:#eeebeb; -webkit-text-size-adjust:none" bgcolor="#eeebeb">
  <table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%">
    <tr>
      <td align="center" valign="top" style="background-color:#eeebeb" width="100%">
        <center>
          <table cellspacing="0" cellpadding="0" width="600" class="w320">
            <tr>
              <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" width="100%" style="background-color:#028fcc;">
                  <tr>
                    <td style="background-color:#028fcc;">
                      <table cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                          <td align="center">
                            <div style="padding: 40px 0 40px">
                              <img src="http://www.flyer-experten.com/images/logos/fe-header-logo.png" style="max-width:100%; display:block;">
                            </div>
                          </td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                <table cellspacing="0" cellpadding="0" class="force-full-width" bgcolor="#ffffff" >
                  <tr>
                    <td style="background-color:#ffffff;">
                      <br>

                      <center>

                        <table style="margin: 0 auto;" cellspacing="0" cellpadding="0" class="force-width-80">
                          <tr>
                            <td style="text-align:left; color: #6f6f6f;">
                              <p>
                                Sehr <%= data.gender === "männlich" ? "geehrter Herr" : "geehrte Frau" %> <%= data.firstname %> <%= data.lastname %>,
                              </p>
                              <p>
                                Ihre Bewerbung ist bei uns eingegangen. Die <strong>FLYER-EXPERTEN</strong> freuen sich sehr, dass Sie sich eine Zusammenarbeit vorstellen können.
                                Sie befinden sich nun in der zentralen Datenbank. Sobald eine Werbeaktion in Ihrer Region ansteht, werden sich die FLYER-EXPERTEN bei Ihnen melden.
                              </p>
                              <p>
                                Sofern Sie immer auf dem neusten Stand bleiben möchten, empfehlen die <strong>FLYER-EXPERTEN</strong> die
                                <a href="https://www.facebook.com/FlyerExperten/">Facebook-Fanseite</a> und die dazugehörige <a href="https://www.facebook.com/pg/FlyerExperten/">Facebook-Gruppe</a>
                                in die Favoriten hinzuzufügen.
                              </p>
                              <p>
                                Mit freundlichen Grüßen,
                              </p>
                              <p>
                                die <strong>FLYER-EXPERTEN</strong>
                              </p>
                              <br>
                              <br>
                            </td>
                          </tr>
                        </table>
                      </center>
                      <table cellspacing="0" cellpadding="0" bgcolor="#028fcc"  class="force-full-width">
                        <tr>
                          <td width="100px">
                            <a href="http://www.erste-wahl.net" style="margin-left: 30px">
                              <img class="img-responsive" src="http://www.flyer-experten.com/images/logos/ew-footer-logo.png" alt="Erste Wahl">
                            </a>
                          </td>
                          <td style="text-align:center;">
                            <br>
                            <br>
                            <a href="https://www.facebook.com/FlyerExperten/">
                              <img class="img-responsive" src="http://www.flyer-experten.com/images/logos/FB-f-Logo__blue_50.png" alt="FLYER-EXPERTEN">
                            </a>
                            <br>
                            <br>
                          </td>
                          <td width="100px">
                            <a href="http://www.flyer-experten.com">
                              <img style="width: 80px" class="img-responsive" src="http://www.flyer-experten.com/images/logos/fe-footer-logo.png" alt="FLYER-EXPERTEN">
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="color:#f0f0f0; font-size: 14px; text-align:center; padding-bottom:4px;">
                            <br>
                            <br>
                            Copyright © 2017 <a href="http://www.flyer-experten.com" style="color: #fff">Flyer Experten</a>, Alle Rechte vorbehalten.
                            <br>
                            <br>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" style="text-align:center;color:#f0f0f0;font-size: 14px;">
                            <strong>Unsere Adresse:</strong>
                            <br>
                            Flyer Experten<br>
                            Untere Ortsstraße 14<br>
                            74722 Buchen<br>
                            Deutschland
                            <br>
                            <br>
                          </td>
                        </tr>
                        <tr>
                          <td style="font-size:12px;">
                            &nbsp;
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
  </body>
  </html>
</mailbody>

<mailplain>
  Sehr <% data.jobapplicationgender === "männlich" ? "geehrter Herr" : "geehrte Frau" %> <%= data.jobapplicationfirstname %> <%= data.jobapplicationlastname %>,

  Ihre Bewerbung ist bei uns eingegangen. Die FLYER-EXPERTEN freuen sich sehr, dass Sie sich eine Zusammenarbeit vorstellen können.
  Sie befinden sich nun in der zentralen Datenbank. Sobald eine Werbeaktion in Ihrer Region ansteht, werden sich die FLYER-EXPERTEN bei Ihnen melden.

  Sofern Sie immer auf dem neusten Stand bleiben möchten, empfehlen die FLYER-EXPERTEN die
  Facebook-Fanseite >>https://www.facebook.com/FlyerExperten/<< und die dazugehörige Facebook-Gruppe >>https://www.facebook.com/pg/FlyerExperten/<<
  in die Favoriten hinzuzufügen.

  Mit freundlichen Grüßen,
  die FLYER-EXPERTEN
</mailplain>