<mailsubject>
Angebotsanfrage
</mailsubject>

<mailbody>
<html>
  <head></head>
  <body>
    <p>Die folgende Angebotsanfrage ist soeben eingegangen:</p>
    <div>
      <%= offerArticle %><br>
      <% if (offerAsOptions === 'private') { %>
       <%= offerFirstname %><br>
       <%= offerLastname %><br>
      <% } else { %>
        <%= offerCompanyName %><br>
        <%= offerPersonContact %><br>
      <% } %>
      <%= offerStreet %><br>
      <%= offerPostcode %><br>
      <%= offerCity %><br>
      <%= offerPhone %><br>
      <%= offerMobile %><br>
      <%= offerEmail %><br>
      <%= offerWebsite %><br>
      <%= offerContactDateTime %><br>
      <%= offerInfos %>
    </div>
  </body>
</html>
</mailbody>

<mailplain>
Die folgende Angebotsanfrage ist soeben eingegangen:\n
<% if (offerAsOptions === 'private') { %>
 <%= offerFirstname %>\n
 <%= offerLastname %>\n
<% } else { %>
  <%= offerCompanyName %>\n
  <%= offerPersonContact %>\n
<% } %>
<%= offerStreet %>\n
<%= offerPostcode %>\n
<%= offerCity %>\n
<%= offerPhone %>\n
<%= offerMobile %>\n
<%= offerEmail %>\n
<%= offerWebsite %>\n
<%= offerContactDateTime %>\n
<%= offerInfos %>
</mailplain>