<mailsubject>
Vielen Dank für die Angebotsanfrage
</mailsubject>

<mailbody>
<html>
  <head></head>
  <body>
    <p>Sehr geehrter Herr/Frau <%= offerFirstname %> <%= offerLastname %>,</p>
    <p>wir haben Ihre Angebotsanfrage dankend erhalten. Wir werden uns ungehend darum kümmern.</p>
    <div>
      <% if (offerAsOptions === 'private') { %>
       <%= offerFirstname %><br>
       <%= offerLastname %><br>
      <% } else { %>
        <%= offerCompanyName %><br>
        <%= offerPersonContact %><br>
      <% } %>
      <%= offerStreet %><br>
      <%= offerPostcode %><br>
      <%= offerCity %><br>
      <%= offerPhone %><br>
      <%= offerMobile %><br>
      <%= offerEmail %><br>
      <%= offerWebsite %><br>
      <%= offerContactDateTime %><br>
      <%= offerInfos %><br>
    </div>
  </body>
</html>
</mailbody>

<mailplain>
Hallo <%= offerFirstname %> <%= offerLastname %>
</mailplain>